<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bubble Sort</title>
</head>

<style>
.container{
text-align: center;
border: 7px solid black;
width: 1000px;
height: 200px;
padding-top: 100px;
}
.containertext{
text-align:center;
}
</style>
<body>
<div class = containertext>
    <br>
    <br>
    <br>
    THIS IS INFO TEXT THAT YOU NEED TO FILL IN FRANCIS
    use words like "insertion sort" and "input"
    use this website for help https://stackoverflow.com/questions/15799034/insertion-sort-vs-selection-sort
    <br>
    <br>
    <br>
</div>
<div class = container>
    <form action="/bubble" method = "post">

    <input type="text" placeholder="Input number here" name="bubble" required>
    <input type="submit" value="Sort!">

    </form>
</div>
</body>
</html>