<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Colin Tran</title>

</head>

<style>


.container{
text-align: center;
border: 7px solid black;
width: 1400px;
height: 70px;
padding-top: 200px;
}
.containertext{
text-align:center;
}
</style>
<body>
<!-- brings in the navbar -->
{% extends "navigation.html" %}

<!-- all the text that is in the page -->
{% block content %}


<div class = containertext>
<div class = container>
    <form action="/minilabct.py" method = "post">

        <input type="text" placeholder="Input number here" name="strnum" required>
        <input type="submit" value="Sort!">

    </form>
</div>

    {% endblock %}
</body>
</html>