<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bubble Sort</title>
</head>

<style>
.container{
text-align: center;
border: 7px solid black;
width: 1000px;
height: 200px;
padding-top: 100px;
}
.containertext{
text-align:center;
}
</style>
<body>
<div class = containertext>
    <br>
    <br>
    <br>
    text
    <p>&nbsp;</p>
    text
    <br>
   text
    <p>&nbsp;</p>
  text
    <br>
    <br>
    <br>
</div>
<div class = container>
    <form action="/bubble" method = "post">

        <input type="text" placeholder="Input number here" name="bubble" required>
        <input type="submit" value="Sort!">

    </form>
</div>
</body>
</html>